<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <meta name="description" content="{$description}">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="/img/fv.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="Cp6wM5QRvghnYvDZ3wDhB-GTp6G4jXhyHNBMlkdvmZI" />
    <meta name="yandex-verification" content="3f2a8a2bcdd86750" />
    <meta name='wmail-verification' content='ccdef719d90972208c6c5f34e743e8af' />

  </head>