<div class="share">       
  <a href="http://vk.com/share.php?url={$page_url}" rel="nofollow" target="_blank">     
    <span class="share_const service_vk"></span>            
  </a>     
  <a href="https://www.facebook.com/sharer.php?src={$page_url}" rel="nofollow" target="_blank">       
    <span class="share_const service_facebook"></span>             
  </a>     
  <a href="https://twitter.com/intent/tweet?text={$substr_task}&url={$page_url}" rel="nofollow" target="_blank">      
    <span class="share_const service_twitter"></span>         
  </a>      
  <a href="https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl={$page_url}" rel="nofollow" target="_blank">        
    <span class="share_const service_odnoklassniki"></span>             
  </a>     
  <a href="https://connect.mail.ru/share?url={$page_url}" rel="nofollow" target="_blank">     
    <span class="share_const service_moimir"></span>             
  </a>    
</div>